<!DOCTYPE html>
<html>
<style>
    a {
        display: inline-block;
        text-decoration: none;
        background: #54ABD3;
        border-radius: 2px;
        padding: 9px 25px;
        font-weight: normal;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    p {
        color:#818181;
    }
</style>
<body>
<p>Hi,</p>
<br>
<p>Click the button below to reset your Plenuum password.</p>
<a href="LINK">RESET PASSWORD</a>
<p>If you're not sure why you got this email, you can safely ignore it.</p>
<p>All the best,<br>Plenuum Bot</p>

</body>
</html>