<!DOCTYPE html>
<html>
<style>

    a {
        text-decoration: none;
    }

    .setPassword {
        display: inline-block;
        background: #35a9db;
        border-radius: 2px;
        font-weight: normal;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 25px;
        padding: 17px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        width: 166px;
    }

    .emailPasswordList {
        list-style: none;
    }

    .urlList {
        color: #4990e2;
    }

    a .urlList {
        color: #4990e2;
    }

    span {
        font-weight: bold;
    }

    p a {
        color: #4990e2;
    }

    div {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

</style>
<body>

<p>Hi FIRSTNAME,</p>

<p>You have been invited to use Plenuum at COMPANY. Plenuum is designed to help you give frequent feedback at
    your organization to promote feedback culture and facilitate personal development.</p>

<p><span>Start by setting your password</span><br></p>
<div>
    <ul class='emailPasswordList'>
        <li><a>EMAIL</a></li>
        <li><a href="LINK" class="setPassword">Set your password</a></li>
    </ul>
</div>

<p><span>Start using Plenuum:</span></p>
<ul class="urlList">
    <li><a href='http://app.plenuum.com/'>Plenuum webapp</a></li>
    <li><a href='https://itunes.apple.com/hu/app/plenuum-earlybird/id1180931406'>Plenuum iOS app</a></li>
</ul>

<p>If you have any questions, suggestions, or want to report a bug, shoot a message to Zoltan from Plenuum at
    <a href='mailto:zoltan.kiricsi@plenuum.com' target='_blank'>zoltan.kiricsi@plenuum.com</a>!</p>
<br>

<p>All the best,<br>Plenuum Bot</p>

</body>
</html>