<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<style></style>
<p style="color:#818181">Hi,</p><br>
<p style="color:#818181">Click the button below to reset your Plenuum password.</p><a href="<%= link %>"
                                                                                      style="background:#54ABD3;border-radius:2px;color:#FFF;display:inline-block;font-weight:400;margin-bottom:25px;margin-top:10px;padding:9px 25px;text-decoration:none">RESET
    PASSWORD</a>
<p style="color:#818181">If you're not sure why you got this email, you can safely ignore it.</p>
<p style="color:#818181">All the best,<br>Plenuum Bot</p></body>
</html>