<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<style></style>
<p>Szia <%= firstName %>,</p>
<p>Kérésednek megfelelően alább küldünk egy linket, amelyre kattintva beállíthatsz egy új jelszót a korábbi helyett:</p>
<div>
    <ul>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="<%= link %>">Új jelszó beállítása</a></li>
    </ul>
</div>
<p>Ha nem kértél jelszó újrabeállítást, akkor kérlek hagyd figyelmen kívül ezt a levelet.</p>
<p>Üdvözlettel, <br> A Plenuum Csapata</p>
</body>
</html>