<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head></head>
<body>
        <p>Szia <%= firstName %>,</p>
        <p>Új TÉR kérdőív érkezett a Plenuum fiókodba!</p>
        <p>A Plenuum megnyitásához, illetve a TÉR kérdőív kitöltéséhez kérjük, hogy kattints az alábbi linkre vagy jelentkezz be a Plenuum alkalmazásba a telefonodon:</p>
        <div>
            <ul>
                <li style="margin-bottom: 6px"><a style="color: #1155CC" href="https://app.plenuum.com">Plenuum Web</a> Alkalmazás</li>
            </ul>
        </div>
        <p>Amennyiben még nem használtad a Plenuum-ot, alább találod az elérhetőségeit:
        </p>
        <ul>
            <li style="margin-bottom: 6px">Böngészőből elérhető <a style="color: #1155CC" href="https://app.plenuum.com">Plenuum Web</a> Alkalmazás</li>
            <li style="margin-bottom: 6px"><a style="color: #1155CC" href="https://itunes.apple.com/hu/app/plenuum-earlybird/id1180931406">Plenuum iOS</a> Alkalmazás (<a style="color: #1155CC" href="link">iOS telepítési útmutató</a>)</li>
            <li style="margin-bottom: 6px"><a style="color: #1155CC" href="#">Plenuum Android</a> Alkalmazás (<a style="color: #1155CC" href="link">Android telepítési útmutató</a>)</li>
        </ul>
        <p>Amennyiben bármilyen kérdésed vagy észrevételed volna a Plenuum-mal kapcsolatban, kérlek küldd el emailben az <a style="color: #1155CC" href="mailto:mkb@plenuum.com">mkb@plenuum.com</a>-ra. Ha valaki, akkor mi igazán fontosnak tartjuk a visszajelzéseket :)</p>
        <p>Üdvözlettel, <br> A Plenuum Csapata</p>
</body>
</html>