<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head></head>
<body>
    <p>Szia <%= firstName %>,</p>
    <p>Meghívást kaptál a Plenuum használatára a(z) <span style="font-weight: bold"><%= company %></span> szervezetben.</p>
    <p>A Plenuum egy valós idejű visszajelzést elősegítő rendszer, aminek célja a gyakori visszajelzés adás és kérés beépítése a szervezeti kultúrába, így segítve a személyes fejlődést és a csapatkohézió erősítését. Továbbá a 2018 féléves TÉR értékelés rögzítésére is a Plenuum alkalmazáson belül lesz lehetőséged.</p>
    <p><span style="font-weight:bold">Kérlek első lépésként állítsd be a jelszavad:</span></p>
    <div>
        <ul>
            <li style="margin-bottom: 6px">A felhasználó neved: <%= email %></li>
            <li style="margin-bottom: 6px"><a style="color: #1155CC" href="<%= link %>">A jelszavad erre a linkre kattintva állíthatod be.</a></li>
        </ul>
    </div>
    <p>A regisztrációval elfogadod, hogy a Plenuum rendszer használatához szükséges adataidat az MKB Bank Zrt. munkáltató, mint adatkezelő a fent leírt célból felhasználja, illetőleg adataidat az alkalmazás üzemeltetője, a Hipteam Korlátolt Felelősségű Társaság adatfeldolgozó kezelje. Részletes adatvédelmi tájékoztatást az alábbi linkeken találsz, kérjük ezeket figyelmesen olvasd el a regisztráció előtt.</p>
    <p>A Plenuum-ot a böngésződön kívül okostelefon alkalmazásként is használhatod, így bárhol, bármikor adhatsz és kaphatsz visszajelzéseket.</p>
    <ul>
        <li style="margin-bottom: 6px">Böngészőből elérhető <a style="color: #1155CC" href="https://app.plenuum.com">Plenuum Web</a> Alkalmazás</li>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="https://itunes.apple.com/hu/app/plenuum-earlybird/id1180931406">Plenuum iOS</a> Alkalmazás (<a style="color: #1155CC" href="https://docs.google.com/presentation/d/e/2PACX-1vRjUbdRiY340hJf5TV-AoanMj4lj8cWAfJDybcoNgB2nUmMtMqcgnFRcFP2Bb-msHk9AqA_‌bqpbkxu2/pub?start=true&loop=false&delayms=60000&slide=id.g4013d599d5_0_244">iOS telepítési útmutató</a>)</li>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="https://play.google.com/store/apps/details?id=io.hipteam.plenuum">Plenuum Android</a> Alkalmazás (<a style="color: #1155CC" href=" https://docs.google.com/presentation/d/e/2PACX-1vTfsw_dLAYTVcxQ6BM7n12weVRKBKFf93daJ4WXyn-sfNMS8ELCJMpED0v_MizGp3gLztzoBcltDmAc/pub?start=true&loop=false&delayms=60000&slide=id.p">Android telepítési útmutató</a>)</li>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="https://s3.eu-central-1.amazonaws.com/plenuum-landing/privacy/index.html">Plenuum Adatkezelési Útmutató</a></li>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="http://mozaik2/sites/humanpolitika/Documents/MKB%20Munkavállalói%20Adatkezelési%20Tájékoztató.pdf">MKB Bank munkavállalói adatkezelési tájékoztató</a> (csak belső hálózatról)</li>
        <li style="margin-bottom: 6px"><a style="color: #1155CC" href="http://mozaik/sites/humanpolitika/Documents/Plenuum%20felhasznaloi%20kezikonyv.pdf"> Felhasználói Kézikönyv</a> (csak belső hálózatról)</li>
    </ul>
    <p>Üdvözlettel, <br> A Plenuum Csapata</p>
</body>
</html>