<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head></head>
<body>
    <p>Szia <%= firstName %>,</p>
    <p>Meghívást kaptál a Plenuum használatára a(z) <span style="font-weight: bold"><%= company %></span> szervezetben.</p>
    <p>A Plenuum egy valós idejű visszajelzéseket segítő rendszer. Célja, hogy gyorsan és egyszerűen tudj visszajelzéseket adni és kérni a szervezeten belül. Az alkalmazás használata segíti minden munkatárs szakmai fejlődését és hogy közösen egy olyan munkakörnyezetet alakítsatok ki, ahol a lehető legjobb dolgozni.</p>
    <p><span style="font-weight:bold">Kérlek, első lépésként erősítsd meg a regisztrációt és állítsd be a jelszavad:</span></p>
    <div>
        <ul>
            <li style="margin-bottom: 6px">A felhasználó neved: <%= email %></li>
            <li style="margin-bottom: 6px"><a style="color: #1155CC" href="<%= link %>">A jelszavad erre a linkre kattintva állíthatod be.</a></li>
        </ul>
    </div>
    <p style = "font-weight: bold">Ezután a Plenuum-ot böngészőből vagy okostelefonodról alkalmazásként is elérheted itt:</p> 
    <ul>
        <li style="margin-bottom: 6px">Böngészőből - <a style="color: #1155CC" href="https://app.plenuum.com">Plenuum Web</a></li>
        <li style="margin-bottom: 6px">iOS készülékeken - <a style="color: #1155CC" href="https://itunes.apple.com/hu/app/plenuum-earlybird/id1180931406">Plenuum iOS</a> app az App Storeban</li>
        <li style="margin-bottom: 6px">Android készülékeken - <a style="color: #1155CC" href="https://play.google.com/store/apps/details?id=io.hipteam.plenuum">Plenuum Android</a> app a Google Play Áruházban</li>
    </ul>
    <p>Ha problémába ütköznél a Plenuum használata során vagy észrevételed lenne, írj nekünk a <a style="color: #1155CC" href = "mailto:support@plenuum.com">support@plenuum.com</a> címre!</p> 
    <p>Üdvözlettel, <br> A Plenuum Csapata</p>
    <p>A regisztráció megerősítésével elfogadod, hogy a Plenuum rendszer használatához szükséges adataidat a munkáltatód, mint adatkezelő, a fent leírt célból felhasználja, illetőleg adataidat az alkalmazás üzemeltetője, a Hipteam Korlátolt Felelősségű Társaság, mint adatfeldolgozó kezelje. Részletes adatvédelmi tájékoztatást a <a style="color: #1155CC" href = "https://s3.eu-central-1.amazonaws.com/plenuum-landing/privacy/index.html">Plenuum Adatkezelési Útmutatóban</a> találsz, kérjük ezeket figyelmesen olvasd el a regisztráció megerősítése előtt.</p>
</body>
</html>