<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Competence</title>
</head>
<body>
<form action="<%= orgId %>" method="post">
    <fieldset>
        <label for="name">Competence <%= title %>:</label><br><br>
        <input id="title" type="text" name="name" placeholder="Enter competence name"><br><br>
        <input type="text" name="sentences[0][message]"><br><br>
        <input type="text" name="sentences[1][message]"><br><br>
        <input type="submit" value="Add competence">
    </fieldset>
</form>
</body>
</html>