<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Organization</title>
</head>
<body>
<form action="/api/organization" method="post">
    <fieldset>
        <label for="name">Organization name:</label>
        <input id="firstName" type="text" name="name" placeholder="Enter organization name">
        <br>
        <br>
        <label for="todoSentenceNumber">Number of sentences on todos:</label>
        <input id="lastName" type="number" name="todoSentenceNumber"
               placeholder="Enter number of sentences used in todos">
        <br>
        <br>
        <label for="dbName">Database name:</label>
        <input id="email" type="text" name="dbName" placeholder="Database name">
        <br>
        <br>
        <label for="compassGenerationTime">Time of generation compass todos:</label>
        <input id="email" type="number" name="compassGenerationTime" placeholder="Generation time in ms">
        <br>
        <br>
        <input type="submit" value="Create Organization">
    </fieldset>
</form>
</body>
</html>