doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Register User
    body
        form(action='/api/register/user', method='post')
            fieldset
                label(for='firstName') First name:
                input#firstName(, name='firstName', placeholder='Enter first name')
                br
                br
                label(for='lastName') Last name:
                input#lastName(, name='lastName', placeholder='Enter last name')
                br
                br
                label(for='email') Email:
                input#email(type='email', name='email', placeholder='Enter email address')
                br
                br
                label(for='password') Password:
                input#password(type='password', name='password', placeholder='Enter password')
                br
                br
                label(for='pictureUrl') Picture URL:
                input#pictureUrl(name='pictureUrl', placeholder='Enter picture URL')
                br
                br
                input(type='submit', value='Create User')
