<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<form action="/api/register/user" method="post">
    <fieldset>
        <label for="firstName">First name:</label>
        <input id="firstName" name="firstName" placeholder="Enter first name"><br><br>
        <label for="lastName">Last name:</label>
        <input id="lastName" name="lastName" placeholder="Enter last name"><br><br>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Enter email address"><br><br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Enter password"><br><br>
        <label for="pictureUrl">Picture URL:</label>
        <input id="pictureUrl" name="pictureUrl" placeholder="Enter picture URL"><br><br>
        <input type="submit" value="Create User">
    </fieldset>
</form>
</body>
</html>