<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/setPassword.css">
    <title>Change password</title>
</head>
<style>

    .setPassword-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .setPassword-form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18), 0 5px 5px 0 rgba(0, 0, 0, 0.18)
    }

    .submit {
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4bbf98;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .input-box {
        font-family: Roboto, sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .setPassword_logo_container {
        height: 65px;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .setPassword_text {
        align-self: flex-end;
        font-size: 140%;
        text-align: center;
        font-weight: bold;
        color: #4bbf98;
    }

</style>
<body>
<div class="setPassword-page">
    <div class="setPassword-form">
        <form action="/api/setPassword" method="post">

            <div class="setPassword_logo_container">
                <p class="setPassword_text">Set your password</p>
            </div>

            <input id="password" type="password" placeholder="New Password" name="newPassword" class="input-box">
            <input id="passwordAgain" type="password" placeholder="Confirm password" name="passwordAgain"
                   class="input-box">

            <input type="hidden" name="token" value="<%= token %>">
            <input type="submit" value="Set password" class="submit">
        </form>
    </div>
</div>
</body>
</html>